<!-- Afish Archives HTML -->
<!DOCTYPE html>
<html>
    <head>
    <title>The Afish Archives</title>
    <link rel="icon" href="../Assets/Images/pngegg.png" type="image/png">
    <link rel="stylesheet" href="../Assets/AfishArchives.css" />
</head>

<body>
    <h1>The Afish Archives</h1>
    <button onclick="loadTemplate('PeopleArchives/Goonvay_Archive.html')" class="button">Go to the Goonvay Archives</button>
    <button onclick="loadTemplate('PeopleArchives/Priyam_Archive.html')" class="button">Go to the Priyam Archives</button>
    <button onclick="loadTemplate('PeopleArchives/Havish_Archive.html')" class="button">Go to the Havish Archives</button>
    <button onclick="loadTemplate('PeopleArchives/Amir_Archive.html')" class="button">Go to the Amir Archives</button>
    <script src="../Assets/script.js"></script>
</body>
</html>