<!-- Afish Archives HTML -->
<!DOCTYPE html>
<html>
    <head>
    <title>The Goonvay Archives</title>
    <link rel="icon" href="../../Assets/Images/pngwing.com (1).png" type="image/png">
    <link rel="stylesheet" href="../../Assets/Goonvay.css" />
</head>

<body>
    <h1 class="lockedIn">The Goonvay Archives</h1>
    <button onclick="loadTemplate('../W_GoonvaySongs.html')" class="button">Go to the Goonvay songs</button>
    <button onclick="loadTemplate('../Goonvay_relation.html')" class="button">Go to Goonvay's Relationship Status</button>
    <button onclick="loadTemplate('../AfishArchives.html')" class="button">Go back to the Afish Archives</button>
    <script src="../../Assets/script.js"></script>
</body>
</html>