<!-- Afish Archives HTML -->
<!DOCTYPE html>
<html>
    <head>
    <title>The Priyam Archives</title>
    <link rel="icon" href="../../Assets/Images/[CITYPNG.COM]HD Python Logo Symbol Transparent PNG - 2000x2000.png" type="image/png">
    <link rel="stylesheet" href="../../Assets/Priyam.css" />
</head>

<body>
    <h1 class="glow-text">The Priyam Archives</h1>
    <button onclick="loadTemplate('../Priyam_relation.html')" class="button">Go to Relationship Status Archives</button> 
    <button onclick="loadTemplate('../AfishArchives.html')" class="button">Go back to the Afish Archives</button>
    <script src="../../Assets/script.js"></script>
</body>
</html>