<!DOCTYPE html>
<html>
<head>
    <title>Realationship - Priyam</title>
    <link rel="icon" href="../Assets/Images/[CITYPNG.COM]HD Red Emoji Heart Love PNG - 1000x1000.png" type="image/png">
    <link rel="stylesheet" href="../Assets/Priyam.css" />
</head>
<body>
    <h1 class="glow-text">Priyam's Relationship Status</h1>
    <p>Jacqueline - Together as of 9/24/2025</p>
    <button onclick="loadTemplate('PeopleArchives/Priyam_Archive.html')" class="button">Go back to the Priyam Archives</button>
    <script src="../Assets/script.js"></script>
</body>
</html>