<!-- Goonvay Songs HTML -->
<!DOCTYPE html>
<html>

<head>
    <title>W Goonvay Songs</title>
    <link rel="stylesheet" href="../Assets/Goonvay.css" />
    <link rel="icon" href="../Assets/Images/pngwing.com (1).png" type="image/png">

</head>

<body>
    <h1 class="lockedIn">Adhvay Songs - Ode to Adhvay Jayanty</h1>
    <div class="tab-buttons">
        <button onclick="showTab('tab1')">Goonvay!</button>
        <button onclick="showTab('tab2')">Adhvay the Chunky Monkey</button>
        <button onclick="showTab('tab3')">Centeries - Adhvay Edition</button>
    </div>
    <div id="tab1" class="tab-content active">
        <h1 class="fontsus">Goonvay! - by Afish and HVS</h1>
        <p>Goonvay! Goonvay!</p>
        <p>Also known as Adhvay...</p>
        <p>Always goonin' on my mind</p>
        <p>Always such a goonacide</p>
        <p>Always tryna' goon on my mind.</p>
    </div>
    <div id="tab2" class="tab-content">
        <h1 class="fontsus">Adhvay the Chunky Monkey - by Adarsh, Aashrith, Afish, and Anay</h1>
        <p>Adhvay...</p>
        <p>Yeah! Adhvay Chunky the Monkey!</p>
        <p>Oh Yeah! Adhvay Chunky. AYY!</p>
        <p>Chunky Adhvay! Chunky the Monkey Adhvay!</p>
        <p>Ayy! Adhvay he is Chunky Monkey junkie oh!</p>
        <p>Chunky Monkey Oh!</p>
        <p>Chunky Monkey Oh! Monkey Chunky Woah!</p>
        <p>Adhvay is Chunkey Chunky OhhH!</p>
        <p>Chunkey Monkey Chunky Monkey monkey oh!</p>
        <p>Adhvay the chunkey monkey.</p>
        <p>And then he snitches on his dad. Yeah!</p>
        <p>Oh Yeah! He is a f##king snitch oh yeah!</p>
        <p>Oh a chunky! Oh! Oh!</p>
        <p>And we get it for the Adhvay the chunkey the monkey the f##king junkie monkey oh!</p>
        <p>Ha Ha Ha!</p>
        <p></p>
    </div>
    <div id="tab3" class="tab-content">
        <h1 class="fontsus">Centeries - by Luckshit</h1>
    </div>
    <a href="/Adhvay" class="button">Go back to the Goonvay Archives</a>
</body>
<script src="../Assets/script.js"></script>

</html>