<!-- Afish Archives HTML -->
<!DOCTYPE html>
<html>

<head>
    <title>The Danny Archives</title>
    <link rel="icon" href="../Assets/Images/1000001593.png" type="image/png">
    <link rel="stylesheet" href="../../Assets/Danny.css" />
</head>

<body>
    <h1 class="glow-text">The W Danny Photos</h1>
    <a href="/Danny" class="button">Go back to the Danny Archives</a>

    <div class="portfolio-item">
        <video src="../Assets/Video's/Video_20250606_230023_729.mp4" controls></video>
        <div class="portfolio-caption">W Danny Edit - Thx HVS</div>
        <video src="../Assets/Video's/1000006624.mp4" controls></video>
        <div class="portfolio-caption">Danny be vibin</div>
        <video src="../Assets/Video's/1000006468.mp4" controls></video>
        <div class="portfolio-caption">Danny be looking zesty</div>
        <img src="../Assets/Images/1000001593.png" alt="Danny Playing Bass" />
        <div class="portfolio-caption">W Danny Playing Bass</div>
        <img src="../Assets/Images/1000005760.png" alt="Idk What he's doing here" />
        <div class="portfolio-caption">Danny be Tripping for real</div>
        <img src="../Assets/Images/Image_20250921_202808_292.png" alt="Rizzy Danny" />
        <div class="portfolio-caption">Danny Being Rizzy</div>
        <img src="../Assets/Images/1000005759.png" alt="Bro can walk" />
        <div class="portfolio-caption">Danny can walk :O</div>
        <img src="../Assets/Images/4212f18d-079c-4e60-b012-a404f5de2b6c-1_all_1221 (1)_Nero_AI_Face_Enhancer.png"
            alt="W danny" />
        <div class="portfolio-caption">W Danny</div>
        <img src="../Assets/Images/4212f18d-079c-4e60-b012-a404f5de2b6c-1_all_71.png" alt="Danny mewing" />
        <div class="portfolio-caption">Danny mewing</div>
        <img src="../Assets/Images/4212f18d-079c-4e60-b012-a404f5de2b6c-1_all_203.png" alt="Danny be locked in" />
        <div class="portfolio-caption">Danny be locked in</div>
        <img src="../Assets/Images/4212f18d-079c-4e60-b012-a404f5de2b6c-1_all_925.png" alt="W Danny" />
        <div class="portfolio-caption">Idk what he's doing here but W</div>
        <img src="../Assets/Images/4212f18d-079c-4e60-b012-a404f5de2b6c-1_all_932.png" alt="W Danny" />
        <div class="portfolio-caption">W Danny</div>
        <img src="../Assets/Images/4212f18d-079c-4e60-b012-a404f5de2b6c-1_all_1029.png" alt="W Danny" />
        <div class="portfolio-caption">Orchestra Danny</div>
        <img src="../Assets/Images/1000001067.png" alt="W Danny" />
        <div class="portfolio-caption">W Danny</div>
        <img src="../Assets/Images/1000001189.png" alt="W Danny" />
        <div class="portfolio-caption">W Danny</div>
        <img src="../Assets/Images/1000001191.png" alt="W Danny" />
        <div class="portfolio-caption">W Danny Collection</div>
        <img src="../Assets/Images/1000001719.png" alt="W Danny" />
        <div class="portfolio-caption">Mural Danny</div>
        <img src="../Assets/Images/1000001980.png" alt="W Danny" />
        <div class="portfolio-caption">Anime Danny</div>
        <img src="../Assets/Images/1000002459.png" alt="W Danny" />
        <div class="portfolio-caption">Ninja Danny</div>
        <img src="../Assets/Images/1000002465.png" alt="W Danny" />
        <div class="portfolio-caption">Suspisious Danny</div>
        <img src="../Assets/Images/1000002466.png" alt="W Danny" />
        <div class="portfolio-caption">Cute Danny</div>
        <img src="../Assets/Images/1000002467.png" alt="W Danny" />
        <div class="portfolio-caption">Danny with Rizz</div>
    </div>

</body>

</html>